<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <mp:PhoneIdentity PhoneProductId="0740e426-8063-4854-85aa-f14f7dd89eee" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Identity Name="@@SHORT_NAME@@"
            Publisher="CN=@@PUBLISHER_COMPANY@@, O=@@PUBLISHER_ORG@@, L=@@PUBLISHER_LOCATION@@, S=@@PUBLISHER_STATE@@, C=@@PUBLISHER_COUNTRY@@"
            Version="@@VERSION@@" />

  <Properties>
    <DisplayName>@@LONG_NAME@@</DisplayName>
    <PublisherDisplayName>@@PUBLISHER_COMPANY@@</PublisherDisplayName>
    <Logo>@@LOGO_50@@</Logo>
    <Description>@@DESCRIPTION@@</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>

        <!--- Config -->
        <!--- 'Id' is in the aumid returned from deploy  -->
        <!--- 'Executable' must match the .exe produced by the build  -->
        <Application Id="@@SHORT_NAME@@"
        Executable="$targetnametoken$.exe"
            EntryPoint="@@SHORT_NAME@@.App">
            <!--- all fields except DisplayName not yet implemented -->
            <VisualElements
                DisplayName="@@LONG_NAME@@"
                Logo="@@LOGO_150@@"
                SmallLogo="@@LOGO_44@@"
                Description="@@DESCRIPTION@@"
                ForegroundText="dark"
                BackgroundColor="#000040">
                <SplashScreen Image="@@LOGO_620@@" />
                <DefaultTile WideLogo="@@LOGO_1920@@" />
            </VisualElements>
        </Application>

    </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>
